<div class="row">
    <div class="col">
        <h1>Search the news</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/search" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="q" placeholder="Search the news" value={{ q }}>

            </div>
            <div class="form-group">
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="country" value="sg" checked="checked">
                    <img class="img-fluid" src="media/sg.png" alt="">

                    <input class="form-check-input" type="radio" name="country" value="us">
                    <img class="img-fluid" src="media/us.png" alt="">

                    <input class="form-check-input" type="radio" name="country" value="fr">
                    <img class="img-fluid" src="media/fr.png" alt="">

                    <input class="form-check-input" type="radio" name="country" value="cn">
                    <img class="img-fluid" src="media/cn.png" alt="">

                    <input class="form-check-input" type="radio" name="country" value="jp">
                    <img class="img-fluid" src="media/jp.png" alt="">

                    <input class="form-check-input" type="radio" name="country" value="gb">
                    <img class="img-fluid" src="media/uk.png" alt="">
                </div>

            </div>

            <div class="form-group">
                <select class="form-control form-control-lg" name="category">
                    <option value="general">General</option>
                    <option value="business">Business</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="health">Health</option>
                    <option value="science">Science</option>
                    <option value="sports">Sports</option>
                    <option value="technology">Technology</option>
                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>



        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="accordion" id="news">
            {{#each articles}}
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#{{this.publishedAt}}" aria-expanded="true"
                            aria-controls="{{this.publishedAt}}">{{this.title}}</button>
                    </h3>
                </div>
            </div>
            <div id="{{this.publishedAt}}" class="collapse {{#if @first}} show {{/if}}" data-parent="#news">
                <div class="card-body">
                    <img src="{{this.urlToImage}}" alt="" class="img-fluid img-thumbnail mx-auto d-block">
                    <p>{{this.description}}</p>
                    <a href={{this.url}}>Read More</a>
                    <code>{{this.publishedAt}}</code>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>